.remark-slide-content p, ul, ol, li{
    font-size: 24px;
}

.large { font-size: 130% }
.small { font-size: 70% }


.title-slide {
    background-image: url(EMGM-1-logo.png), url(Newnham.jpg);
    background-size: 20%, 100% 70%;
    background-position: left top, right top;
}

.title-slide .remark-slide-number {
  display: none;
}

.hide-count .remark-slide-number {
  display: none;
}

.pull-left p {
  /*      top  right  bottom  left */
  margin: 180px    0      0px       0;
}

.pull-right p {
  /*      top  right  bottom  left */
  margin: 180px    0      0       0;
}

.pull-left pre {
  /*      top  right  bottom  left */
  margin: 0    0      10px       0;
}

.pull-right pre {
  /*      top  right  bottom  left */
  margin: 0    0      10px       0;
}


.title-slide-final {
  background-color: #272822;
  color: #fff;
  padding-left: 100px;
  /*text-shadow: 0 0 20px #333;*/
  text-align: center;
}

.title-slide-final h2 {
  color: #cc0033;
}

/* h1 { */
/*   font-weight: normal; */
/*   margin-top: -95px; */
/*   margin-left: -00px; */
/*   text-align: center; */
/*   color: #FAFAFA; */
/* } */

